@{
    ViewData["Title"] = "Log ind";
}
@model LoginModel

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <p>Venligst indtast dit cpr-nummer</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post)) {
        @Html.Password("cpr")
        <input type="submit" value="Log ind" />
    }
    <br />
    <br />
    <br />


    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }
    else if (!string.IsNullOrEmpty(Model.LoggedInName))
    {
        <div>
            Du er logget ind som: @Model.LoggedInName
        </div>
    }
</div>
